
    
  
        
                  
               <br/>
               <br/>
                 <mat-card class="example-card  center-screen">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Chart</mat-card-title>
                        </mat-card-header>
                                
                        <mat-card-content>
                                        
                                     
                                          <p>
                                                <mat-form-field appearance="outline">
                                                  <mat-label> product</mat-label>
                                                  <input matInput disabled >{{productObject.nameProduct}}
                                                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                                  <mat-hint>product</mat-hint>
                                                </mat-form-field>
                                              </p>
                                        <p>
                                            <mat-form-field appearance="outline">
                                              <mat-label>Price</mat-label>
                                              <input matInput disabled placeholder="price" >{{productObject.price}}
                                              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                              <mat-hint>Price [£]</mat-hint>
                                            </mat-form-field>
                                          </p>
                                          <p>
                                                <mat-form-field appearance="outline">
                                                  <mat-label>Offer</mat-label>
                                                  <input matInput  disabled placeholder="Offer"  >{{productObject.idOffer}}
                                                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                                  <mat-hint>Offer</mat-hint>
                                                </mat-form-field>
                                              </p>
                                              
                                                <p>
                                                    <mat-form-field appearance="outline">
                                                      <mat-label>Qantity</mat-label>
                                                      <input matInput type="number" placeholder="qantity" [(ngModel)]="quantity" >
                                                      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                                      <mat-hint>Qantity</mat-hint>
                                                    </mat-form-field>
                                                  </p>
                                               
                        </mat-card-content>
                        <mat-card-actions>
                                <button type="submit" (click)="onSubmit()" class="btn btn-primary">Add to chart</button>
                        </mat-card-actions>
                        
                    </mat-card>

                    <br/>

 
            <mat-card class="example-card center-screen-total">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Total price</mat-card-title>
              </mat-card-header>
         
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Total price</mat-label>
                        <input matInput  disabled placeholder="Total price"  >{{sumPrice}}
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Total price</mat-hint>
                      </mat-form-field>
                    </p>

              
              </mat-card>
              